{% load staticfiles %}
<!DOCTYPE html>


{% url 'quiz_app:homepage' as homepage_url %}
{% url 'quiz_app:login' as login_url %}
{% url 'quiz_app:register' as register_url %}
{% url 'quiz_app:question' as question_url %}
{% url 'loggedout' as logout_url %}
{% url 'quiz_app:about' as about_url %}
{% url 'quiz_app:contact' as contact_url %}

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link  href="{% static 'quiz_app/css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
     <div class="container">
       <a class="navbar-brand" href="{% url 'quiz_app:homepage' %}" style="font-style: italic;">Python Quiz</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarResponsive">
         <ul class="navbar-nav ml-auto">
           <li class="nav-item {% if request.path == homepage_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:homepage' %}">Home
             </a>
           </li>
           <li class="nav-item {% if request.path == about_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:about' %}">About</a>
           </li>
           <li class="nav-item {% if request.path == contact_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:contact' %}">Contact</a>
           </li>
           {% if request.user.is_authenticated %}
           <li class="nav-item {% if request.path == question_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:question' %}">Test</a>
           </li>
           <li class="nav-item {% if request.path == logout_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'loggedout' %}">Logout</a>
           </li>
           {% else %}
           <li class="nav-item {% if request.path == register_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:register' %}">Register</a>
           </li>
           <li class="nav-item {% if request.path == login_url %} active{% endif %}">
             <a class="nav-link" href="{% url 'quiz_app:login' %}">Login</a>
           </li>
           {% endif %}
         </ul>
       </div>
     </div>
   </nav>

    {% block content %}
    {% endblock %}

  </body>
</html>
